// Main container for recommendations
.recommendations-container {
  width: 100%; // Full-width background
  background-color: #676767;
  padding: 40px 20px;
  color: #fff;
}
  h2 {
    color: #069494;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
  
    .spinner {
      border: 5px solid #f3f3f3;
      border-radius: 50%;
      border-top: 5px solid #45a049;
      width: 40px;
      height: 40px;
      animation: spin 1s linear infinite;
      margin-bottom: 10px;
    }
  
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  
  .error-message {
    color: #ffa500;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .items-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
  
    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
  
    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
  
  .item-card {
    border: 1px solid #45a049;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }
  
    h3 {
      color: #069494;
    }
  
    .item-image {
      img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 5px;
      }
  
      p {
        text-align: center;
        color: #333;
      }
    }
  
    .preferences-list {
      list-style: none;
      padding: 0;
      margin: 10px 0;
      text-align: center;
  
      li {
        background-color: #45a049;
        color: #fff;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 15px;
        margin-right: 5px;
        font-size: 0.7rem;
      }
    }
  }
  
  .no-items {
    text-align: center;
    color: #ffa500;
    font-size: 1.2rem;
    margin-top: 20px;
  }