
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        div {
          margin-bottom: 10px;
        }
        label {
          display: inline-block;
          width: 210px;
          text-align: right;
        }
      </style>
</head>
<body id="container4">
    <div>
<div class="container mx-auto px-4 py-8">
    <h2 class="text-3xl font-bold text-green-900" style="font-weight: 800; margin-top: 200px; margin-left: 580px;">Reset Password</h2>
    <form [formGroup]="resetForm" class="space-y-4 bg-pink-100" style="text-align: center; opacity: 0.8; border-radius: 30px; width: 500px; height: 225px; margin-left: 490px; margin-top: 2px; box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.8), 10px 40px 80px rgba(0, 0, 0, 0.3);">
        <div class="mb-4">
            <label for="email" style="font-size: 25px;">Email:</label>
            <input type="email" formControlName="email" required>
        </div>
        
        <div class="mb-4">
            <label for="password" style="font-size: 25px;">Password:</label>
            <input type="password" formControlName="password" required>
        </div>


        <div class="mb-4">
            <label for="confirmpassword" style="font-size: 25px;">ConfirmPassword:</label>
            <input type="password" formControlName="confirmpassword" required>
        </div>

        <div class="mb-4">
            <button type="submit" (click)="onSubmit()"  class="bg-purple-800 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded">
                Save
            </button>
            <button type="submit" (click)="redirectToLogin()" class="bg-purple-800 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded" style="margin-left: 30px;">Login</button>
        </div>
        <div class="text-center">
            <p *ngIf="message" style="color: red; font-size: 15px;">{{ message }}</p>  <!-- Display response message -->
        </div>
    </form>
    
</div></div>
</body>
</html>