
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">


<body>
  <nav class="navbar">
    <div class="navbar-left">
      <span class="brand-name">Threads & Thrift</span>
    </div>
    <div class="navbar-right">
      <a href="http://localhost:4200/home" class="nav-link">Dashboard</a>
      <a href="http://localhost:4200/allitems" class="nav-link">Items</a>
      <a href="http://localhost:4200/mytrades" class="nav-link">Trades</a>
      <a href="#" class="nav-link">Logout</a>
    </div>
  </nav>

  <div class="user-container">
    <!-- Search Box -->
    <div class="search-box">
      <input type="text" [(ngModel)]="search" placeholder="Search by name or email" (input)="onSearchChange()" />
    </div>
  
    <div class="filters">
        <label>
          <span>Admin</span>
          <label class="switch">
            <input type="checkbox" [(ngModel)]="isAdmin" (change)="onAdminFilterChange($event)" />
            <span class="slider"></span>
          </label>
        </label>
        <label>
          <span>Suspended</span>
          <label class="switch">
            <input type="checkbox" [(ngModel)]="isSuspended" (change)="onSuspendedFilterChange($event)" />
            <span class="slider"></span>
          </label>
        </label>
      </div>
  
    <!-- Table of Users -->
    <table class="user-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Admin</th>
          <th>Suspended</th>
          <th>Change here</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users;let i=index">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.isAdmin ? 'Yes' : 'No' }}</td>
          <td>{{ user.isSuspended ? 'Yes' : 'No' }}</td>
          
<td>
          <button (click)="toggleSuspend(user._id, i)"
  class="buttonnn"
  [ngClass]="{ 'suspend': !user.isSuspended, 'unsuspend': user.isSuspended }"
>
  {{ user.isSuspended ? 'Unsuspend' : 'Suspend' }}
</button>
</td>

          
        </tr>
      </tbody>
    </table>
  
    <!-- Pagination -->
    <div class="pagination">
      <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>

      <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage * pageSize >= totalCount">Next</button>
    </div>
  </div>
  </body>