
	.login_container {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		/* min-width: 200vh; */
		background-color: #f2f2f2; 
	}
	
	.login_form_container {
		background-color: white;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		width: 100%;
		max-width: 400px; 
		padding: 30px;
		text-align: center;
	}
	

	h1 {
		font-size: 28px;
		color: #4CAF50; 
		margin-bottom: 10px;
	}
	

	h4 {
		font-size: 16px;
		color: #777;
		margin-bottom: 20px;
	}
	
	
	.input {
		width: 100%;
		padding: 12px;
		margin: 10px 0;
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 14px;
		outline: none;
		transition: all 0.3s ease;
	}
	
	.input:focus {
		border-color: #4CAF50; 
	}
	
	
	.error_msg {
		background-color: #f44336; 
		color: white;
		padding: 10px;
		border-radius: 4px;
		margin-bottom: 10px;
	}
	
	
	.green_btn {
		background-color: #4CAF50;
		color: white;
		padding: 12px;
		border-radius: 20px;
		border: none;
		width: 100%;
		font-size: 16px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}
	
	.green_btn:hover {
		background-color: #45a049; 
	}
	
	
	.signup_text {
		margin-top: 10px;
	}
	
	.signup_link {
		color: #4CAF50;
		text-decoration: none;
		font-size: 14px;
	}
	
	.signup_link:hover {
		text-decoration: underline;
	}
	