
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="container1"  >
    <div  class="" style="width: 1000px;height: 640px;  margin-left: 190px;opacity: 0.9; border-radius: 40px;" >
    <div class="container mx-auto px-4 py-8"  >
        <h4 class="text-9xl font-bold text-green-900" style="margin-top: 160px; margin-left: 440px; font-weight: 700;">Registration Page</h4>
        <form [formGroup]="registerForm" class="space-y-4  bg-pink-100" style="text-align: center; border-radius: 30px;width: 500px;height: 460px; margin-left: 315px; box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.8), 10px 40px 80px rgba(0, 0, 0, 0.3);">
            <div class="mb-4">
                <mat-form-field class="w-96 mt-5 ">
                    <mat-label for="name">Name</mat-label>
                    <input type="text" formControlName="name" matInput required>
                </mat-form-field>
            </div>

            <div class="mb-4">
                <mat-form-field class="w-96">
                    <mat-label for="email">Email</mat-label>
                    <input type="email" formControlName="email" matInput required>
                </mat-form-field>
            </div>

            <div class="mb-4">
                <mat-form-field class="w-96">
                    <mat-label for="password">Password</mat-label>
                    <input type="password" formControlName="password" matInput required>
                </mat-form-field>
            </div>

            <div class="mb-4">
                <mat-form-field class="w-96">
                    <mat-label for="confirmpassword">Confirm Password</mat-label>
                    <input type="password" formControlName="confirmpassword" matInput required>
                </mat-form-field>
            </div>
            
            
            <div  class="mb-4">
                <button (click)="register()" [disabled]="registerForm.invalid" type="submit" class="bg-purple-900 text-white font-bold py-2 px-4 rounded mt-2" >Register</button>
                <a href="http://localhost:4200/login" class="bg-purple-900 text-white font-bold py-2 px-4 rounded mt-2" style="margin-left: 30px;" >Login</a>
            </div> 

        </form>
    </div></div>
</body>
</html>
