.admin-dashboard {
    padding: 70px;
    max-width: 1200px;
    margin: 0 auto;
}

.admin-dashboard h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.item-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.item-card.deleted {
    opacity: 20;
    background-color: #f8d7da;
}

.item-image {
    width: 220px;
    height: 250px;
    object-fit: cover;
    margin-right: 20px;
}

.item-details {
    flex: 1;
    padding: 15px;
}

.item-details h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.item-details p {
    font-size: 16px;
    color: #081008;
    margin-bottom: 10px;
}

.item-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.item-actions button {
    margin-top: auto;
    background-color: #e60000;
    height: 40px;
    color: white;
    border: none;
    padding: 1px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.item-actions button:hover {
    background-color: #ce0202;
    transform: scale(1.05);
}

.suspend-button {
    background-color: #e60000;
}

.suspend-button:hover {
    background-color: #ce0202;
}
