<div>
  <h2 *ngIf="showLogin">Login</h2>
  <h2 *ngIf="!showLogin">Register</h2>

  <form *ngIf="showLogin">
      <input type="email" class="email" placeholder="Enter your email" />
      <input type="password" class="password" placeholder="Enter your password" />
      <button class="auth-btn" type="submit">Login</button>
    <p class="switch-link">Don't have an account? <a (click)="toggleForm()">Register Now</a></p>
  </form>

  <form *ngIf="!showLogin">
      <input type="text" class="username" placeholder="Enter your username" />
      <input type="password" class="password" placeholder="Enter your password" />
      <input type="email" class="email" placeholder="Enter your email" />
      <button class="verify-email" type="button">Verify email</button>
      <input class="otp" placeholder="Enter otp">
      <button class="auth-btn" type="submit">Register</button>
    <p class="switch-link">Already have an account? <a (click)="toggleForm()">Login here</a></p>
  </form>
</div>
