<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="container2">
    <div>
    <div class="container mx-auto px-4 py-8">
        <h2 class="text-3xl font-bold text-green-900 " style="font-weight: 800;margin-top: 170px;margin-left: 650px;">Login page</h2>
        <form [formGroup]="loginForm" class="space-y-4  bg-pink-100" style="text-align: center;opacity: 0.8; border-radius: 30px;width: 500px;height: 320px; margin-left: 500px;margin-top: 2px; box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.8), 10px 40px 80px rgba(0, 0, 0, 0.3);">
            <div class="mb-4">
                <mat-form-field class="w-96 mt-5">
                    <mat-label for="email">Email</mat-label>
                    <input type="email" formControlName="email" matInput required>
                </mat-form-field>
            </div>

            <div class="mb-4">
                <mat-form-field class="w-96">
                    <mat-label for="password">Password</mat-label>
                    <input type="password" formControlName="password" matInput required>
                </mat-form-field>
            </div>
            
            <div class="mb-4">

                <button type="submit" (click)="login()" [disabled]="loginForm.invalid" class="bg-purple-800 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded">Login</button>
            </div>
            <div class="text-center">
                <a href= "http://localhost:4200/forgot-password">Forgot Password</a>
                <p>Don't have an account? <a href="http://localhost:4200/register" class="text-purple-800 hover:underline;" style="font-weight: 400;">Sign Up</a></p>
            </div>
        </form>
    </div></div>
</body>
</html>