
.create-item-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.create-item-container h1 {
    text-align: center;
    color: #333; 
}

.create-item-container label {
    margin-bottom: 5px; 
    font-weight: bold; 
    color: #555; 
}

.create-item-container input,
.create-item-container textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%; 
}

.create-item-container button {
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color:  #4db6c2; 
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.create-item-container button:hover {
    background-color: #45a049; 
}